@import "variable.styl"

body, html {
  line-height: 1
  user-select: none
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  -webkit-tap-highlight-color: transform
  background $color-background
  color $color-text

}
